body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .resume-container {
    max-width: 900px;
    margin:  auto ;
    margin-top: 62px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  .dark-mode-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
  }
  
  .dark-mode-toggle:hover {
    background-color: #0056b3;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  header p {
    margin: 5px 0;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .section p, .section ul {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  .grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
  }
  
  footer p {
    margin: 0;
  }
  
  .dark {
    background-color: #333;
    color: white;
  }
  
  .dark a {
    color: #1e90ff;
  }
  
  .dark header {
    color: white;
  }
  
  .dark footer {
    color: #aaa;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 900px) {
    .resume-container {
      padding: 10px;
    }
  
    header h1 {
      font-size: 2em;
    }
  
    .section h2 {
      font-size: 1.5em;
    }
  
    .grid-section {
      grid-template-columns: 1fr;
    }
  
    .dark-mode-toggle {
      font-size: 0.9em;
    }
  }
  