/* src/ProjectsPage.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.projects-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 65px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-category {
  margin-bottom: 30px;
}

.project {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.project h3 {
  margin-top: 0;
}

@media (max-width: 600px) {
  .projects-container {
    padding: 10px;
  }

  .project {
    padding: 10px;
  }
}
