.footer {
    background-color: #333; /* Dark background */
    opacity: 0.9;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
  
  